.pledge {
  display: flex;
  flex-direction: column; /* 改变flex布局为主轴为垂直方向 */
  align-items: center; /* 垂直排列时，此属性使子元素在交叉轴（这里是水平轴）上居中 */
  justify-content: center; /* 如果需要在整个容器内垂直居中卡片和标题，保留此项 */
  .tabs {
    width: 100%;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h3 {
      margin-top: 0;
    }
    .cardBody {
      .inputTextContainer,
      .textContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        input {
          flex: 0 0 260px;
        }

        span {
          flex: none; // 或者指定宽度
        }
      }
    }
  }
  .button {
    width: 100%;
  }
}
