.footer {
  height: 60px;
  margin-top: 20px;
  color: #e6d9d9;
  font-size: 12px;
  border-top: 1px solid rgba(119, 126, 144, 0.35);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
