/* src/styles.module.scss */

// 容器样式
.left {
  display: flex;
  flex-direction: column;
  gap: 20px; // 每个卡片之间的间距
  
  // 针对小屏幕优化
  @media (max-width: 768px) {
    gap: 10px; // 减小卡片之间的间距
    width: 98%; // 默认宽度为100%，确保卡片能撑满父容器
  }
}

// 卡片样式
.card {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // 添加阴影效果
  

  // 针对小屏幕优化
  @media (max-width: 768px) {
    padding: 12px; // 减小内边距
    font-size: 14px; // 减小字体大小
    width: 95%; // 默认宽度为100%，确保卡片能撑满父容器
  }

  // 时间和项目方容器
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .date {
      font-size: 14px;
      color: #666666;

      // 针对小屏幕优化
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .projects {
      font-size: 14px;
      color: #333333;

      span {
        margin-right: 4px;
      }
      // 针对小屏幕优化
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  // 内容样式
  .content {
    font-size: 18px; // 字体更大
    color: #333333;
    line-height: 1.5;

    // 针对小屏幕优化
    @media (max-width: 768px) {
      font-size: 16px; // 减小字体大小
    }
  }
}